.slot-page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;

  .slot-empty {
    margin: auto;
  }

  .slot-page {
    background-image: url(../../assets/slot-1128/game_background.jpg);
    background-repeat: round;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .back-button {
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 100px;
    top: 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
      rgb(0 0 0 / 20%) 0px -3px 0px inset;
  }
}
